form {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: navajowhite;
    padding: 2%;
    margin: 2%;
    z-index: 5;
    position: absolute;
    top: 15%;
    left: 30%;
}